@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}

a,
.btn {
  transition: all 300ms ease;
}

a {
  color: $text-color;
}

p {
  color: $p-color;
}

/* SECTION */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  // margin-bottom: 5rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}
.icon {
  display: inline;
  cursor: pointer;
  height: 2rem;
}
.section {
  &-container {
    display: flex;
    gap: 4rem;
    height: 80%;
  }
  &__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    flex-shrink: 0;
  }
  &__text {
    p {
      font-weight: 600;
    }
    &__p1 {
      text-align: center;
    }
    &__p2 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  }
}
.details {
  &-container {
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    border: $gray 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
}

.sub {
  &-title {
    color: $p-color;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}
/* BUTTONS */
.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  &-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  &-color-1,
  &-color-2 {
    border: $gray 0.1rem solid;
  }
  &-color-1 {
    // background: $gray;
    background: #61677a;

    color: #fff;
    &:hover {
      background: #000;
    }
  }
  &-color-2 {
    background: none;
    &:hover {
      border: #fff 0.1rem solid;
      background: $gray;
      color: #fff;
    }
  }
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* EXPERIENCE */

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  .icon {
    cursor: default;
  }
}
