@mixin navStyles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
/* DESKTOP NAV */

#desktop-nav {
  @include navStyles();
  .nav {
    &-links {
      gap: 2rem;
      display: flex;
      list-style: none;
      font-size: 1.5rem;
      a {
        color: $text-color;
        transition: all 300ms ease;
        // text-decoration-color: #fff;
        &:hover {
          color: #808080;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: rgb(181, 181, 181);
        }
      }
    }
  }
}

/* HAMBURGER MENU */

#hamburger-nav {
  @include navStyles();
  display: none;
  .hamburger {
    &-menu {
      position: relative;
      display: inline-block;
      .menu {
        &-links {
          list-style: none;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: #fff;
          width: fit-content;
          max-height: 0;
          overflow: hidden;
          transition: all 0.3 ease-in-out;
          a {
            display: block;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: #000;
            text-decoration: none;
            transition: all 0.3 ease-in-out;
          }
          li {
            list-style: none;
          }
          &.open {
            max-height: 300px;
          }
        }
      }
    }
    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 24px;
      width: 30px;
      cursor: pointer;
      span {
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all 0.3 ease-in-out;
        &:first-child {
          transform: none;
        }
        &:first-child {
          opacity: 1;
        }
        &:first-child {
          transform: none;
        }
      }
      &.open {
        span:first-child {
          transform: rotate(45deg) translate(10px, 5.5px);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:last-child {
          transform: rotate(-45deg) translate(10px, -5.5px);
        }
      }
    }
  }
}
.logo {
  cursor: default;
  font-size: 2rem;
}
